.container-body{
    padding: 10px;

}

.container-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 20px 0 30px 0;
}

.button-novo{
    gap: 10px;
    display:flex ;
    justify-content: center;
    align-items: center;
    width: 110px;
}