.container-line {

    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid seagreen;
    border-bottom: 1px solid seagreen;
}

.container-dados {
    align-items: center;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.container-id {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: seagreen;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.container-buttons {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button-editar {
    height: 40px;
    width: 80px;
    background-color: seagreen;
    color: rgb(255, 255, 255);
}

.button-editar:hover {
    background-color: darkslategrey;
    color: rgb(255, 255, 255);
}


.button-excluir {
    height: 40px;
    width: 80px;
    background-color: brown;
}

.button-excluir:hover {
    background-color: rgb(94, 0, 0);
    color: rgb(255, 255, 255);
}

.modal {
    text-align: center;
    font-size: x-large;
}

.content {
    text-align: center;
    padding: 20px;
}

.container-button {
    margin: 20px;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button-popup-excluir{
    height: 50px;
    width: 80px;
    background-color: brown;
}

.button-popup-excluir:hover {
    background-color: rgb(94, 0, 0);
    color: rgb(255, 255, 255);
}

.button-popup-cancelar{
    height: 50px;
    width: 100px;
    background-color: rgb(93, 93, 93);
    color: rgb(255, 255, 255);
}

.button-popup-cancelar:hover {
    background-color: darkslategrey;
    color: rgb(255, 255, 255);
}
li{
    list-style-type: none;
}
.container-valor, .container-valor-id{
    padding-left:20px ;
    width: 135px;
}
.container-valor-id{
    width: 20px;
}