.container-form-login {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 100%;
}

.container-input input {
    font-size: medium;
    padding-left: 20px;
    width: 300px;
    height: 50px;
    border-radius: 60px;
    border: 2px solid #167362;
}

button {
    font-weight: bolder;
    font-size: medium;
    width: 320px;
    height: 50px;
    border-radius: 60px;
    border: none;
    background-color: #167362;
    color: white;
    cursor: pointer;
}

button:hover {
    font-weight: bolder;
    background-color: #122723;
    color: #167362;
}
a{
    padding: 10px 0;
    width: 100%;
    text-align: end;
    text-decoration: none;
    color: #167362;
}
a:hover{
    color: #122723;
}

.button-cadastro{
    margin: 15px 0 0 0;
    background-color: #37474F;
}

.button-cadastro:hover{
    background-color: #0f1315;
}